<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<getPlaceholderRenderings>
				<processor type="SitecoreExtension.DynamicKeyPlaceholder.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, SitecoreExtension.DynamicKeyPlaceholder" patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" />
			</getPlaceholderRenderings>
			<getChromeData>
				<processor type="SitecoreExtension.DynamicKeyPlaceholder.Pipelines.GetChromeData.GetDynamicPlaceholderChromeData, SitecoreExtension.DynamicKeyPlaceholder" patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"/>
			</getChromeData>
		</pipelines>
	</sitecore>
</configuration>